<section class="container"> 
  <div class="inside-container">
    <div class="sidenav-hp"> 
      <%= render '/pages/nav' %>
    </div>

    <h1> You've made a successful payment!</h1>
    <%= "You purchased: #{@listing.title}" %> <br>
    <%= image_tag @listing.picture if @listing.picture.attached? %> <br>
    <%= "Purchase price: #{@listing.price}" %> <br>
    <%= "Your contact email is: #{@user.email}" %>  
    <%=  %>

  </div>
</section>